html, body, article {
    margin: 0;
    font-family: "Alef";
}

a {
    color: black;
}

a:hover {
    color: black;
}

.pestaña {
    background-color: white;
    color: cadetblue;

    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 20%;
}

.pestaña:hover {
    background-color: transparent;
}

.contenido_pestaña {
    display: none;
    padding: 100px 20px;
    height: 67vh;
}

#Sobremi {
    display: flex;
    justify-content: space-between;
    background: url('../images/sobremipng.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#GeeksHubs {
    display: flex;
    justify-content: space-between;
    background: url('../images/GeeksHubspng.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#Aficiones {
    display: flex;
    justify-content: space-between;
    background: url('../images/aficionespng2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#Intereses {
    display: flex;
    justify-content: space-between;
    background: url('../images/interesespng.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#MisRedes{
    display: flex;
    justify-content: space-between;
    background: url('../images/redespng.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.parrafo {
    margin: 0;
    width: 40%;
    padding: 5%;
    float: left;
}

.parrafo1 {
    padding-top: 320px;
    padding-left: 520px;
    color: tomato;
    font-size: medium;
}
.parrafo2 {
    padding-top: 270px;
    padding-left: 10px;
    color: white;
    font-size: large;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.parrafo3 {
    padding-top: 100px;
    padding-left: 10px;
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size: large;
}
.lastorres{
    max-height: 200px;
    max-width: 100px;
    padding-top: 150px;
}
.parrafo4 {
    padding-top: 50px;
    padding-left: 10px;
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size: x-large;
}
#redes_sociales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 250px;

}
.icono_redes{
    max-height: 100px;
    max-width: 100px;
    margin-right: 10px;
    margin-left: 3px;

}
.imagen {
    margin: 0;
    width: 40%;
    padding: 5%;
    float: right;
}

.fondo {
    background-color: transparent;
    width: 100%;
}
.fondo ul{
    background-color: transparent;
}
.fondo ul li {
    float: left;
    list-style: none;
    width: 25%;
    text-align: center;
    font-size: 16px;
    padding-bottom: 1px;
}

#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    height: 58px;
    width: 100%;
    text-align: center;
    background-color: red;
}
